.form-tambah {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #0061b6;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-tambah {
  width: 100%;
  background-color: #0061b6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-tambah:hover {
  background-color: rgb(0, 168, 0);
}

.btn-edit {
  background-color: #0061b6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: rgb(0, 168, 0);
}

.btn-hapus {
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-hapus:hover {
  background-color: #f5554a;
}

.box {
  border-radius: 5px;
  padding: 20px;
}

#tabel {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  background-color: #6ab2f0;
}

#tabel td,
#tabel th {
  border: 0.5px solid white;
  padding: 8px;
}

#tabel tr:nth-child(even) {
  background-color: #ccc;
}

#tabel tr:hover {
  background-color: #5c9cd4;
}

#tabel th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0061b6;
  color: white;
}
